@{
    ViewBag.Title = "ConfirmationMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1 section-body" style="min-height:500px;">
        <h2>ConfirmationMessage</h2>
        <p>
            Dear Member,<br />
            A confirmation Mail Successfully send to your Email.
            Please Visit Your Inbox and verify Account...!!
        </p>

    </div>
</div>
