
<script type="text/javascript">

    function checkPasswordMatch() {
        var password = $("#NewPassword").val();
        var confirmPassword = $("#ConfirmPassword").val();

        if (password != confirmPassword)
            $("#divCheckPasswordMatch").html("Passwords do not match!");
        else
            $("#divCheckPasswordMatch").html("Passwords match.");
    }
</script>
@using (Html.BeginForm("Admin_setting", "admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <label>old password</label>
        </div>
        <div class="col-md-4">
            <input type="password" name="oldpassword" id="oldpassword" required="required">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <label>new password</label>
        </div>
        <div class="col-md-4">
            <input type="password" name="newpassword" id="NewPassword" required="required">
        </div>
        <div class="registrationFormAlert" id="divCheckPasswordMatch">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <label>Confirm password</label>
        </div>
        <div class="col-md-4">
            <input type="password" name="cofirmpassword" id="ConfirmPassword" onkeyup="checkPasswordMatch();" required="required">
        </div>
    </div>
    <div class="col-md-3 col-md-push-5">
        <input type="submit" value="save change" />
    </div>
    @ViewBag.message;
}