@{
    ViewBag.Title = "StartSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-10 col-md-offset-1 section-top">Searched Results</div>

</div>

<div class="row">
    

    <div class="col-md-10 col-md-offset-1 section-body" >
        
            @foreach (var v in ViewBag.lawyers)
            {
                <div class="row">
                    <div class="col-md-offset-2 col-md-6">
                        <a href="../Home/LawyerProfile?id=@v.lwr_id"> @v.First_Name <img src="@Url.Content(@v.photo)" alt="lawyer pic" style="float:right;width:35px;height:40px" /></a>
                    </div>
 
                 </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-5">
                       <p>City: @v.Area</p>
                    </div>

                </div>
            }


       
    </div>
</div>