@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-6 col-md-offset-1 " style="background-color:white">
        <div class="row  section-top">About PLA Developers</div>
        <div class="row section-body ">
            <div class="col-md-12">
                <ul>
              <li>  we are a small team with multi-disciplinary skills,who concentrate on producing result deriven development.</li>
           <li>     We mainly focus on design process as an attitude to make prgress with clarity of result. </li>
            <li>    We learn new moves,twists and turns every moment that keeps us smart with innovation. </li>
             </ul>
                     </div>
        </div>
        <br/>
        <div class="row  section-top">PLA Objective</div>
        <div class="row section-body ">
            <div class="col-md-12">
                Objective of the PLA is to provide the info about law and help the civilians of Pakistan with law knowledge.
                And provide opportunity to Civilians of pakistan to get the best lawyer which they want to hire for personal or some other issues.
                Some are want to know about the result of their committed offence, PLA providing a solution of that with feature of Law prediction,
                by using this user can get all info about their offence. Overall main purpose of the PLA is to help the peoples with different ways.
                 <p>&nbsp;</p><p>&nbsp;</p>

            </div>
        </div>


    </div>
    <div class="col-md-3 col-md-offset-1" style="background-color:white">
        <div class="row  section-top">PLA Future Plans</div>
        <div class="row section-body ">
            <div class="col-md-12">
                <ul>
                    <li>Improve More PLA Features.</li>
                    <li>Introducing new Feature
                        <ul>
                            <li>Tranlate Laws into Urdu</li>
                            <li>Ask a Question</li>
                            <li>Add Civil Laws </li>
                        </ul>
                    </li>               
                    <li>Product security and Quality Improvement</li>
                    <li>Improve Efficiency of Product</li>

                </ul>
            </div>
        </div>
        <br />
       

    </div>
</div>