@model PakLawAdvisor.Models.Prediction
@{
    ViewBag.Title = "GetLawPredictionSuspected";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetLawPredictionSuspected</h2>
@Model.Complainentvalue
@Model.Suspetedvalue