
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgetPassword</h2>
@using (Html.BeginForm("ForgetPasswordMessage","user",FormMethod.Post))
{ 
<label>Enter Your Email Address</label>
  
<input type="email" name="email" required="required" />
<input type="submit" name=" forget_btn"/> 
    <p style="min-height:300px"></p>
}