@{
    ViewBag.Title = "ForgetPasswordMessage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ForgetPasswordMessage</h2>
@if (@ViewBag.ForgotMsg) {
    <p>Reset Password Send on your Email ID</p>
    <p style="min-height:300px"></p>
}
else
{
    <p>Email not beloging to any account...!!! </p>
    <p style="min-height:300px"></p>
}
